<!DOCTYPE html>
<html lang="en">

<% include head.ejs%>

<body>

<% include navbar.ejs%>

<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('/images/wrapper/life.jpg');"></div>
      <div class="carousel-caption">
        <h2>生活</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('/images/wrapper/work.jpg');"></div>
      <div class="carousel-caption">
        <h2>工作</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('/images/wrapper/study.jpg');"></div>
      <div class="carousel-caption">
        <h2>学习</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</header>

<!-- Page Content -->
<div class="container container-background">

  <!-- Marketing Icons Section -->
  <!--<each info> item </each>-->
  <!--<itemn>.,title.,sged</itemn>-->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Welcome to TsingKuo.com
      </h1>
    </div>
    <% for(var i=0; i<panels.length/2; i++) {%>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw <% if(headers[i].name == 'panel_1'){%>
            fa-check
            <% } %>
            <% if(headers[i].name == 'panel_2'){%>
            fa-gift
            <% } %>
            <% if(headers[i].name == 'panel_3'){%>
            fa-compass
            <% } %>
            "></i> <%= headers[i].content%></h4>
          </div>
          <div class="panel-body">
            <p><%= bodys[i].content%></p>
            <a href="#" class="btn btn-default">Learn More</a>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <!-- /.row -->

  <!-- Portfolio Section -->
  <!-- original source is src="http://placehold.it/700x450"-->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">生活中的点点滴滴......</h2>
    </div>
    <% for(var i=0; i<posts.length; i++) {%>
    <div class="col-md-4 col-sm-6">
      <a href="http://blog.tsingkuo.com/<%= posts[i].slug%>">
        <img class="img-responsive img-portfolio img-hover" src="<%= items[i].src%>" alt="<%= items[i].alt%>">
      </a>
    </div>
    <% } %>
  </div>
  <!-- /.row -->

  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">工作中的方方面面......</h2>
    </div>
    <div class="col-md-6">
      <p>零八年开始工作至今，积累了以下工作经验以及工作中所能用到的技能:</p>
      <ul>
        <% for(var i=0; i<features.length; i++){ %>
        <% if(i == 0){ %>
          <li><strong><%= features[i].content%></strong></li>
        <% } %>
        <% if(i != 0) {%>
          <li><%= features[i].content%></li>
        <% }} %>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="http://ojnmrgkgm.bkt.clouddn.com/homework.jpg" alt="">
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <p>此网站仅作为个人娱乐，如有雷同纯属巧合！本人会把自己感兴趣的东东、生活中的点点滴滴以及工作中涉及到的方方面面都记录在这里！如果在浏览的过程中发现什么问题，也请您及时与我联系，谢谢！</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-default btn-block" href="mailto:johnny.kuo2012@gmail.com">Contact Me</a>
      </div>
    </div>
  </div>

  <hr>

<% include footer.ejs%>

</div>
<!-- /.container -->

<% include scripts.ejs%>

<!-- Script to Activate the Carousel -->
<script>
  $('.carousel').carousel({
    interval: 10000 //changes the speed
  })
</script>

</body>

</html>
